<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credit Card Validation Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/demo.css')}}">
</head>

<body>
    <div class="container-fluid">
            <header>
                    <div class="limiter">
                        <h3>RSA Certificate Key for Payment Gateway</h3>
                    </div>
                </header>
                <div class="creditCardForm">
            Name: <b>{{name}}</b> <br/>

            Card: <b>{{card}}</b> <br/>

            Total: <b>NA</b><br/>


            <center>

                <img src="{{url_for('static', filename='images/download.png')}}" alt="">
            </center>
        </div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/jquery.payform.min.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>
